    
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #f9948d;
  --orange: #fd7e14;
  --yellow: #ffd54f;
  --green: #9ccc65;
  --teal: #c2f6ea;
  --cyan: #81d4fa;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #c2f6ea;
  --secondary: #adb5bd;
  --success: #9ccc65;
  --info: #81d4fa;
  --warning: #ffd54f;
  --danger: #f9948d;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --hauteur-menu: 60px;
}


.menu-deroulant, .menu-non-deroulant, .sous-menu{
    
    background: rgb(255,65,65);
    background: linear-gradient(90deg, rgba(255,65,65,1) 0%, rgba(255,48,48,0.9840978627779237) 66%, rgba(255,0,0,1) 100%);
}

text{
    color: #f8f9fa;
}
a{
    text-decoration: none;
    color: #f8f9fa;
}
ul {
    list-style-type: none;
}
li a {
    text-decoration: none;
    color: black;
}

li:before {
    content: none;
}

* {
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
    font-family: Montserrat, sans-serif;
}

#nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
}

nav > ul {
    display: flex;
    text-align: center;
    
    height: var(--hauteur-menu);
}
   
nav ul {
    list-style-type: none;
}
  
nav > ul > li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
}

nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav > ul > li:hover > a{
    color: #2169EC;
}

  
.menu-non-deroulant{
    padding-left: 20px;
}

.menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
    
    
}

.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
}

.menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
}
.menu-deroulant:hover > text{
    color: black;
}

.sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
}
  

.sous-menu > li > a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
}

.sous-menu > li:hover {
    background-color: rgba(33, 105, 236, 0.3);
}
  
.sous-menu > li:hover > a {
    color: black;
}
  


@keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
}

@keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid #007bff;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #007bff;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
}



.container{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
 
    
}

.navbar-brand img{
    padding-left: 10px;
    height : 60px;
    width : 60px;
}

